#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/itc/itc-oop/src/14/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/itc/itc-oop/src/14/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/itc/itc-oop/src/14
export PROJECT_BIN=/home/kaineer/devel/itc/itc-oop/src/14/bin
export PROJECT_NAME=14
export PROJECT_CREATED="06.12.2024"
